table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: fit-content;
}
  
th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center; /* Centrer le contenu de la cellule horizontalement */
  vertical-align: middle; /* Centrer le contenu de la cellule verticalement */
  padding: 8px;
}
#searchInput {
  display: flex;
  border: 1px solid #dddddd;
  padding: 8px;
  width: auto;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}