@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

form {
  display: flex; /* Utiliser la flexbox pour aligner les éléments horizontalement */
}

body {
  font-family: Arial, sans-serif;
  background: rgb(36,0,27);
  background: linear-gradient(41deg, rgba(36,0,27,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-position: center;
  margin: 0;
  background-repeat: no-repeat;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
  &input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }

  &label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
    &span {
      display: inline-block;
      font-size: 18px;
      min-width: 5px;
      color: #fff;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

/* Style de base pour l'élément input */
.search-bar input {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: 2px solid; /* Bordure par défaut */
  border-radius: 5px;
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

section {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

footer div a {
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
}

header {
  background-color: #7289da;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  &a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.75s;  
  }
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.75s;  
}

.navbar a:hover {
  background-color: lightblue;
  transform: translateY(-5px)translateX(5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}


.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 20px;
}

.navbar-list#navbarList li:first-child a {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px
}

.navbar-list#navbarList li:last-child a {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px
}

/* Media query pour les écrans ayant une largeur maximale de 768px (commun pour les téléphones) */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Flex direction verticale pour les écrans de 768px ou moins */
    &ul li {
      display: block;
      margin: 10px 0;
      }
  }


  .navbar-list#navbarList a {
    background-color: none;
  }
}


#commandtableau {
  border: none;
}

.aimg {
  border: 1px solid #ccc; /* Vérifiez la largeur de la bordure */
  border-radius: 5px;
  display: inline-block;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.bot-image {
  display: block;
  margin: 0 auto;
  transition: 0.5s;
  &:hover {
    animation: shake ease-in-out infinite;
  }
  
}

#lib ul a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p a {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  display: flex;
  margin: auto;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

p {
  margin-top: 10px;
  color: #666;
}

.date {
  font-style: italic;
}



section a {
  text-decoration: none;
  color: inherit;
}

.lib {
  display: flex;
  height: fit-content;
}
.AsideDiscordEmbed {
  margin-right: auto;
}

/* Barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
  background-color:#333;
}

/* Pouce de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #7289da; /* Couleur du pouce de la barre de défilement */
  border-radius: 10px;
}

#story a {
  text-decoration: none;
  color: inherit;
}

.linkedin {
  transition: 0.7s ease-out;
  --color: #0072b1
}

.twitter {
  transition: 0.7s ease-out;
  --color: #000000
}

.discord {
  transition: 0.3s ease;
  --color: #7289DA
}

.github {
  transition: 0.3s ease;
  --color: #000000
}

i {
  &.fa-brands.fa-linkedin-in {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transform: rotate(360deg);
    }
  }
  &.fa-brands.fa-x-twitter {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transform: rotate(360deg);
    }
  }
  &.fa-brands.fa-discord {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transform: rotate(360deg);
    }
  }
  &.fa-brands.fa-github {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      transform: rotate(360deg);
    }
  }
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0); /* Aucun déplacement horizontal au début et à la fin de l'animation */
  }
  25%, 75% {
    transform: rotate(-30deg); /* Déplacement horizontal de -10px au quart et trois quarts de l'animation */
  }
  50% {
    transform: rotate(30deg); /* Déplacement horizontal de 10px à la moitié de l'animation */
  }
}